@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./baby-groot2.jpeg);
    background-size: cover;
    background-position: center;
}
/* .hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./baby-groot2.jpeg);
    background-size: cover;
    background-position: center;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    transition: 1s all ease ;
    cursor: pointer;
    padding: 30px;
    justify-content: center;
    text-align: center;
    color: antiquewhite;
}

h1:hover{
    transform: scale(1.5 );
}

.logo {
    color: antiquewhite;
    font-size: 28px;
    
}

span {
    color: #ea1538;
}

/* nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
} */

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}

.menu-bar {
    /* background: rgb(0,100,0); */
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: antiquewhite;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: antiquewhite;
}

.active, .menu-bar ul li:hover  {
    background: #ea1538;
    border-radius: 3px;
}

.menu-bar .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #ea1538;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted  antiquewhite;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: black;
}