*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
    height: 200px;
    width: 200px;
    border-top: 8px solid rgb(255, 2, 2);
    border-radius: 50%;
    margin: 150px auto;
    position: relative;
    animation: loader 2s ease infinite;
  }

  .sub-main {
    height: 150px;
    width: 150px;
    border-bottom: 8px solid rgb(0, 225, 255);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: loader 2s ease infinite;
  }

  .sub {
    height: 100px;
    width: 100px;
    border-top: 8px solid rgb(253, 5, 187);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: loader 2s ease infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    /* 25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    } */
    100% {
      transform: rotate(360deg);
    }
  }



  body {
    background: black;
  }

  .manu {
    height: 150px;
    width: 150px;
    border-top: 6px solid rgb(5, 162, 253);
    border-radius: 80px;
    margin: 150px auto;
    position: relative;
    animation: loader 2s ease infinite;
  }

  .sub-manu {
    height: 100px;
    width: 100px;
    border-bottom: 6px solid rgb(124, 31, 217);
    border-radius: 80px;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: loader 2s ease infinite; 
  }

  .sub1 {
    height: 50px;
    width: 50px;
    border-top: 6px solid rgb(5, 253, 146);
    border-radius: 80px;
    top: 20px;
    left: 20px;
    position: absolute;
    animation: loader 2s ease infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.box {
  padding-right: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.logo {
  position: relative;
  color: aliceblue;
  font-size: 5em;
  text-shadow: 0 0 50px #0f0,
               0 0 100px #0f0,
               0 0 150px #0f0,
               0 0 200px #0f0,
               0 0 250px #0f0;
  animation: animate 5s linear infinite;             
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}








/* ctn hover effect */

/* .ctn {
    color: antiquewhite;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid antiquewhite;
}

.ctn::before,
.ctn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: width .25s .15s, height .25s;
}

.ctn::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.ctn::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.ctn:hover::before,
.ctn:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
} */